<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Expenses and Income</div>
      <div class="item item-body">
        <div>
            <pre>
Income:     <b>$5000</b>
Expenditure:<b> $400</b>
Balance:    <b>$4500</b>
            </pre>
          
        </div>
      </div>
    </div>
    <!--<div class="list card">
      <div class="item item-divider">Balance</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>-->
    <div class="list card">
      <div class="item item-divider">Goal</div>
      <div class="item item-body">
        <div>
          <b>$2900</b> more for <b>Car</b> in 3 months.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
