<ion-view view-title="Add Income">
 <ion-content>
    <div><br><br></div>
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Income Name</span>
    <input type="text" placeholder="ex.Salary">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Amount</span>
    <input type="text" placeholder="ex.10 $">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Date</span>
    <input type="date" placeholder="mm/dd/yy">
  </label>
</div>
    <div><center><button class="button button-positive">
  Add Income
</button></center></div>
    </ion-content>
     </ion-view>